body {
  margin: 0;
  text-align: center;
  /* font-family: 'Questrial', sans-serif; */
  font-family: 'Karla', sans-serif;
}

h1 {
  display: inline;
  margin: 50px auto 20px auto;
  font-weight: 900;
  font-size: 5.5rem;
  font-family: 'Josefin Slab', serif;
  color: #064420;
  z-index: 1;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
  color: #064420;
}

h3 {
  font-size: 2.2rem;
  color: #064420;
  font-weight: 700;
}

h4 {
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: 700;
}

hr {
  margin: 0 auto 0 auto;
  border-color: #022E57;
  border-style: none;
  border-top-style: dotted;
  border-top-width: 5px;
  width: 10%;
}

p {
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2;
}

ul {
  font-size: 1.5rem;
  font-weight: 500;
}

/* Special Headings */

.padded-title {
  margin-top: 40px;
}

#navbar {
  background-color: #DFFEC7;
}

.navbar {
  padding: 2.0rem 2.0rem;
}

.nav-item {
  padding: 0 18px;
  font-size: 1.6rem;
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
}

#title {
  background-color: #DFFEC7;
  padding-top: 50px;
  position: relative;
}

.title-container {
  width: 100%;
  height: 100%;
}

.subheading{
  display: block;
  text-align: center;
}

.rotating-head, .engineer {
  font-size: 2rem;
  font-weight: 800;
  color: green;
  position: relative;
  display: block;
}

.rotating-head span{
  margin: 0 auto;
  text-align: center;
	overflow: hidden;
}


.topcloud {
  margin: 0 auto;
  display: block;
  position: relative;
  right: 20%;
  width: 18%;
  max-width: 150px;
}

.bottomcloud {
  margin: 0 auto;
  display: block;
  position: relative;
  left: 20%;
  width: 16%;
  max-width: 150px;
}

.mtn {
  margin: 70px 0 0 0;
  width: 40%;
}

#about {
  background-color: #EFFEC7;
  padding-top: 50px;
  padding-bottom: 50px;
}

.profile {
  margin: 50px auto;
  width: 70%;
}

.profpic {
  border: 2px solid green;
  border-radius: 100%;
  position: relative;
  top: 10px;
  width: 25%;
}

#skill-list {
  background-color: #EFFEC7;
  padding-top: 1px;
}

.experience {
  margin: 0px auto 50px;
  padding-top: 50px;
  width: 80%;
}

.experience-row {
  margin: 40px auto 0px;
}

.exp-box {
  padding: 40px 40px;
}

.skills {
  padding: 1% 0;
  background-color: #dcfcea;
}

.skill-row {
  margin: 50px auto 50px auto;
  width: 70%;
  text-align: left;
  line-height: 2;
}

.school {
  width: 80%;
  margin-left: 150px;
  max-width: 400px;
  border-radius: 100%;
  border: 2px solid #064420;
}

.bike {
  width: 30%;
  margin: 0 auto;
  max-width: 500px;
}

.rocket {
  width: 80%;
  margin-left: 150px;
  max-width: 400px;
  border-radius: 100%;
  border: 2px solid #064420;
}

.scout {
  width: 80%;
  margin-left: 150px;
  max-width: 400px;
  border-radius: 100%;
  border: 2px solid #064420;
}

.teach {
  width: 80%;
  margin-left: 150px;
  max-width: 400px;
  border-radius: 100%;
  border: 2px solid #064420;
}

#languages {
  padding: 1px auto 40px;
  background-color: #56776C;
}

.tech {
  padding: 5% 10%;
}

.javascript, .html, .bootstrap, .css, .python, .cpp, .java, .swift, .arduino{
  width: 128px;
  transition: 0.3s ease-in-out;
}

.language-box {
  padding: 40px 20px;
}

.javascript:hover, .html:hover, .bootstrap:hover, .css:hover, .python:hover,
.cpp:hover, .java:hover, .swift:hover, .arduino:hover{
  transform: scale(1.1);
  opacity: 90%;
}

#contact {
  background-color: #DFFEC7;
  padding-top: 1px;
  padding-bottom: 60px;
}

.contact-me {
  padding: 5% 0;
  margin: 0 auto 20px auto;
  width: 70%;
}

.yeet {
  margin-top: 30px;
}

.btn {
  margin-top: 20px;
   background: #02360A;
   background-image: -webkit-linear-gradient(top, #02360A, #024428);
   background-image: -moz-linear-gradient(top, #02360A, #024428);
   background-image: -ms-linear-gradient(top, #02360A, #024428);
   background-image: -o-linear-gradient(top, #02360A, #024428);
   background-image: -webkit-gradient(to bottom, #02360A, #024428);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: "Questrial";
   font-size: 15px;
   font-weight: 300;
   padding: 16px;
   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #FFFFFF 1px;
   background: #024428;
   background-image: -webkit-linear-gradient(top, #024428, #024428);
   background-image: -moz-linear-gradient(top, #024428, #024428);
   background-image: -ms-linear-gradient(top, #024428, #024428);
   background-image: -o-linear-gradient(top, #024428, #024428);
   background-image: -webkit-gradient(to bottom, #024428, #024428);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

#footer {
  background-color: #FFFEC7;
  padding-top: 75px;
  padding-bottom: 50px;
}

.footer-link {
  color: #024428;
  margin: 0 20px 0 20px;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 991px) {

  .mtn {
    width: 70%;
    margin: 500px auto 100px;
  }

  ul {
    font-size: 2rem;
  }

  h1 {
    font-size: 7rem;
  }

  h2 {
    font-size: 4rem;
  }

  p {
    font-size: 2rem;
  }

  h3 {
    font-size: 3rem;
  }

  h4 {
    font-size: 3rem;
  }

  p, h3, h4 {
    text-align: center;
  }

  .profpic {
    width: 50%;
  }

  .rocket, .scout, .teach, .bike, .school {
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
  }

  .topcloud {
    right: 300px;
    top: 0px;
  }

  .bottomcloud {
    top: 430px;
  }

  .nav-item {
    padding: 0 18px;
    font-size: 2.6rem;
  }

  .navbar-brand {
    font-size: 2.6rem;
    font-weight: bold;
  }

  .rotating-head {
    font-size: 2.5rem;
    right: 134px;
  }
}
